GTI_Solutionx/.vs/GTI_Solutionx/v15/Server/sqlite3/storage.ide-shm
GTI_Solutionx/.vs/GTI_Solutionx/v15/Server/sqlite3/storage.ide-wal
GTI_Solutionx/.vs/
GTI_Solutionx/GTI_Solutionx/obj/
GTI_Solutionx/GTI_Solutionx/bin/
GTI_Solutionx/FrgxPublicApiSDK/bin/
GTI_Solutionx/FrgxPublicApiSDK/
GTI_Solutionx/DBTester/bin/
GTI_Solutionx/GTI_Solutionx/appsettings.json
