@using Microsoft.AspNetCore.Identity
@using GTI_Solutionx.Models

@inject SignInManager<ApplicationUser> SignInManager

<!DOCTYPE html>
<html>
<head>
    @*<link rel="stylesheet" href="assets/plugins/metro/MetroJs.min.css">
    <link rel="stylesheet" href="assets/plugins/morris/morris.css">
    <link href="assets/plugins/jvectormap/jquery-jvectormap-2.0.2.css" rel="stylesheet">

    <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="assets/plugins/animate/animate.css" rel="stylesheet" type="text/css">
    <link href="assets/css/icons.css" rel="stylesheet" type="text/css">
    <link href="assets/css/style.css" rel="stylesheet" type="text/css">*@
</head>
<body>
    @RenderBody()
    <hr />

    <!-- Footer -->
    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    ©2017 Designed by GTI Solutionx LLC.
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer -->

    @RenderSection("Scripts", required: false)
</body>
</html>
